@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 900px;
  
}

button,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

@media (max-width: 980px) {
  body {
    min-width: 0;
  }
}
